{% extends 'base.html' %}
{% block title %}Publish{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/AuthorPage.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='CSS/base.css') }}">
{% endblock %}
{% block main %}
    <h1 class="page-title" align="center">Publish Article</h1>
    <form action="/publish" method="post">
        <div class="form-container">
            <div class="form-group">
                <span>Email</span>
            <input type="text" placeholder="Email"  name="email" class="form-control" required="required"><br>
            </div>
            <div class="form-group">
                <span>Title</span>
            <input type="text" placeholder="Title"  name="article_title" class="form-control" required="required"><br>
            </div>
            <div class="form-group">
                <span>Subject</span>
            <input type="text" placeholder="subject"  name="article_subject" class="form-control" required="required"><br>
            </div>
            <div class="form-group">
                <span>Abstract</span>
            <input type="text" placeholder="You can add abstract  here"  name="abstract" class="form-control" required="required"><br>
            </div>
            <div class="form-group">
                <span>Highlights</span>
            <input type="text" placeholder="A Highlights section"  name="highlight" class="form-control" required="required"><br>
            </div>

            <div class="form-group">
                <h5>You can write abstract here:</h5>
           <textarea name="content"    rows="10" class="form-control"  required="required" > </textarea>
            </div>
              <div class="form-group">
                  <h5 >Verification Code</h5>
                  <input type="text" name="validate" style="..." required="required">
                <img  src="/code " onclick="this.src='/code?'+ Math.random()" style="...">
            </div>

            <div class="form-group ">
                <input type="file" name="file">
                <input type="submit" class="btn btn-primary" value="submit" style="margin-top: 20px">
            </div>

        </div>
    </form>
{% endblock %}
