<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Publish System</title>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/red.css" rel="stylesheet">

</head>

<body class=" ">

<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>


<div class="page-wrapper">

    <div class="header-container">

        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->

                        <div class="header-first clearfix">

                            <!-- logo -->

                            <div id="logo" class="logo">
                                <a href="/"><img id="logo_img" src="images/logo.png" width="200px" height="200px"></a>
                            </div>


                        </div>

                        <!-- header-first end -->

                    </div>
                    <div class="col-md-8 col-12 ml-md-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation">
                                <ul class="nav menu pt-2 justify-content-center justify-content-md-end">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="support.html">Support</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <div class="banner">
        <div class="region region-banner">
            <div id="block-block-1" class="block block-block clearfix">
                <div class="content">
                    <div class="section dark-translucent-bg parallax-bg border-clear">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 ml-auto mr-auto">
                                    <div class="space"></div>
                                    <div class="space"></div>
                                    <h1 class="text-center">Open Access Publishing System</h1>
                                    <p class="text-center lead">A simple and convenient open access publishing
                                        system</p>
                                    <div class="space"></div>
                                    <div class="space"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="region region-highlighted">
                        <div id="block-block-8" class="block block-block clearfix">
                            <div class="content">
                                <h2 class="title text-center">Core Information Of Our System</h2>
                                <div class="separator"></div>
                                <div class="row grid-space-10">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <a href="#mission"><i class="glyphicon glyphicon-flag"></i></a>

                                            </div>
                                            <div class="body">
                                                <h3>Mission Statement</h3>
                                                <span>All of the project are based on teacher lan's requirement</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <a href="#license"> <i class="glyphicon glyphicon-globe"></i></a>
                                            </div>
                                            <div class="body">
                                                <h3>License</h3>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <a href="#version"> <i class="glyphicon glyphicon-edit"></i></a>
                                            </div>
                                            <div class="body">
                                                <h3> Version Control Information</h3>
                                                <p>You can check our github to know the version control information </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix hidden-sm hidden-xs"></div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <a href="#status"> <i class="glyphicon glyphicon-adjust"></i></a>
                                            </div>
                                            <div class="body">
                                                <h3>Development Status</h3>
                                                <p>We will keep improve our project.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <a href="#doc"><i class="glyphicon glyphicon-folder-open"></i></a>
                                            </div>
                                            <div class="body">
                                                <a href="#doc"><h3>Documentation</h3></a>
                                                <p>You can check our github to clone the documentation </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <a href="#bug"> <i class="glyphicon glyphicon-warning-sign"></i></a>
                                            </div>
                                            <div class="body">
                                                <h3>Bug Tracker</h3>
                                                <p>We didn't find the bug at present,if we find we will solve and update
                                                    at later</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main-container" id="mission">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-8">
                    <h1 class="page-title">Mission Statement</h1>
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system clearfix">
                            <h3>We had implemented part of requirements, the following is mission statement of our
                                system:</h3>
                            <div class="content">

                                <!--加在p标签里面 -->

                                <ol style="font-size:18px;">

                                    <li>Show popularity score.</li>
                                    <li>The same subject cannot be created twice.</li>
                                    <li>Popular articles are shown in a prominent place under each subject.
                                    </li>
                                    <li>The full email addresses of authors are not displayed in the service's web
                                        pages.
                                    </li>
                                    <li>Popularity metrics.</li>
                                    <li>Hide an article.</li>
                                    <li>Remove an article.</li>
                                    <li>Remove a comment.</li>
                                    <li>Improve project quality.</li>
                                </ol>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main end -->


        </div>
</div>
</section>
<section class="main-container" id="version">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-8">
                <h1 class="page-title"> Version control information</h1>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                        <div class="content">
                            <div class="lead" style="font-size:18px;">
                                <p>
                                    Version 1.0
                                    <br>

                                    You can check our <a href="https://github.com/Suchist/PublishSystem"
                                                         style=color:#e84c3d;">github</a>
                                    to know the detail of version control information.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main end -->
    </div>
    </div>

</section>
<section class="main-container" id="status">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- development -->
            <div class="main col-lg-8">
                <h1 class="page-title">Development Status</h1>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                        <div class="content">
                            <div>

                                <ul style="font-size:18px;">

                                    <li>In November 2018, we knew the requirements of system.</li>
                                    <li>In December 2018, we started this project</li>
                                    <li>In January 2019, we implemented most of requirements.</li>
                                    <li>In April 2019, we started making homepage of system.</li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main end -->


    </div>
    </div>
</section>
<section class="main-container" id="doc">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-8">
                <h1 class="page-title">Documentation</h1>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                        <div class="content">
                            <div class="lead">
                                <a style="font-size: 20px" href="http://lanlab.org/course/2018f/oo/project_description.pdf">Click me to check the <strong>project description</strong>!</a><br>
                                <p style="font-size:18px;">
                                    1. We write initial requirement and function analysis of this project after reading
                                    the project description. There are some thinking about how to improve functions:<br>
                                    2. It provides a very rich advanced search syntax as Microsoft’s Bing does, just
                                    like “contains”, “language” ect. Because using advanced keywords will get better
                                    search results, allowing you to quickly find what you really need.<br>
                                    3. Popularity=visits*correction + comments*30+up-votes*10-down-votes*5<br>
                                    Correction=(2000000+visits)/(2*visits) ——the maximum is 1<br>
                                    Consider all drafts in principle<br>
                                    Except the following：<br></p>
                                <ol style="font-size:18px;">
                                    <li>The data is clearly manipulated</li>
                                    <li>Other causes lead to data exceptions</li>
                                    <li>The article is disappeared</li>
                                    <li>The article has been on the list for six months</li>
                                </ol>
                                <p style="font-size:18px;">
                                4. How to present personal attacks or other irrelevant comments in articles?<br>
                                When users want to comment an article, the content will be automatically identified and
                                shielded relevant whether it contains any sensitive words.
                                What’s more, users can “report” or “like” any comments. In addition, the articles with
                                highest popularity metrics will be displayed in a prominent place of article for a
                                limited period of time. If there are comments be reported, manages will check it after
                                receiving the report information, the comment will be deleted if it really don’t fit
                                rules. What’s more, users who posted bad comments will be warned and even be banned to
                                comment for a period of time according his ip.<br>
                                5. How to generate article IDs? How to generate comment IDs?<br>
                                By using SnowFlake algorithm which generate IDs according to time increasing trend and
                                it won't produce repeated throughout. We can add specified a in front of the article IDs
                                and add c in front of the comment IDs to distinguish between these two kinds of IDs.<br>

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main end -->


    </div>
    </div>
</section>


<footer id="footer" class="light">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content">
                        <div class="region region-footer-first">

                            <div id="block-block-3" class="block block-block clearfix">
                                <div class="content">
                                    <p class="text-center">Copyright 2018 © YJ&HAB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->

</footer>

</div>
<!-- page-wrapper end -->

</body>
</html>
