
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Publish System</title>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/red.css" rel="stylesheet">

</head>

<body class=" ">

<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>


<div class="page-wrapper">

    <div class="header-container">

        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->

                        <div class="header-first clearfix">

                            <!-- logo -->
                            <!--
                           <div id="logo" class="logo">
                               <a href="/"><img id="logo_img" src="images/logo.png" alt="HtmlCoder"></a>
                           </div>
                          -->
                       </div>

                       <!-- header-first end -->

                    </div>
                    <div class="col-md-8 col-12 ml-md-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation">
                                <ul class="nav menu pt-2 justify-content-center justify-content-md-end">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="support.html">Support</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <div class="banner">
        <div class="region region-banner">
            <div id="block-block-1" class="block block-block clearfix">
                <div class="content">
                    <div class="section dark-translucent-bg parallax-bg border-clear">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 ml-auto mr-auto">
                                    <div class="space"></div>
                                    <div class="space"></div>
                                    <h1 class="text-center">Publish System</h1>
                                    <p class="text-center lead">A simple and convenient publish system</p>
                                    <div class="space"></div>
                                    <div class="space"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="region region-highlighted">
                        <div id="block-block-8" class="block block-block clearfix">
                            <div class="content">
                                <h2 class="title text-center">Core Information Of Our System</h2>
                                <div class="separator"></div>
                                <div class="row grid-space-10">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                             <a href="mission.html"><i class="glyphicon glyphicon-flag"></i></a>

                                            </div>
                                            <div class="body">
                                                <h3>mission statement</h3>
                                                <span>All of the project are based on teacher lan's requirement</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <i class="glyphicon glyphicon-globe"></i>
                                            </div>
                                            <div class="body">
                                                <h3>license</h3>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                               <a href="https://github.com/Suchist/PublishSystem">  <i class="glyphicon glyphicon-edit"></i></a>
                                            </div>
                                            <div class="body">
                                                <h3> version control information</h3>
                                                <p>You can  check our github to know the version control information </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix hidden-sm hidden-xs"></div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <i class="glyphicon glyphicon-adjust"></i>
                                            </div>
                                            <div class="body">
                                                <h3>development status</h3>
                                                <p>We will keep improve our project.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <i class="glyphicon glyphicon-folder-open"></i>
                                            </div>
                                            <div class="body">
                                                <h3>documentation</h3>
                                                <p>You can  check our github to clone the documentation </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="box-style-2">
                                            <div class="icon-container default-bg">
                                                <i class="glyphicon glyphicon-warning-sign"></i>
                                            </div>
                                            <div class="body">
                                                <h3>bug tracker</h3>
                                                <p>We didn't find the bug at present,if we find we will solve and update at later</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer id="footer" class="light">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-content">
                            <div class="region region-footer-first">

                                <div id="block-block-3" class="block block-block clearfix">
                                    <div class="content">
                                        <p class="text-center">Copyright 2018 © YJ&HAB</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->

    </footer>

</div>
<!-- page-wrapper end -->

</body>
</html>
