
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Publish System</title>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/red.css" rel="stylesheet">

</head>

<body class=" ">

<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>


<div class="page-wrapper">

    <div class="header-container">

        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo">
                                   <a href="/"><img id="logo_img" src="images/logo.png" width="200px" height="200px"></a>
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>
                    <div class="col-md-8 col-12 ml-md-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation">
                                <ul class="nav menu pt-2 justify-content-center justify-content-md-end">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="support.html">Support</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <div class="banner">
        <div class="region region-banner">
            <div id="block-block-1" class="block block-block clearfix">
                <div class="content">
                    <div class="section dark-translucent-bg parallax-bg border-clear">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 ml-auto mr-auto">
                                    <div class="space"></div>
                                    <div class="space"></div>
                                    <h1 class="text-center">Mission Statement</h1>
                                    <div class="space"></div>
                                    <div class="space"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-lg-8">
                    <h1 class="page-title">Mission Statement</h1>
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system clearfix">
								 <h3>We had finished part of requirments,the following are our mission of this term</h3>
                            <div class="content">
                       
								<!--加在p标签里面 -->
                              
								 <ol>
						
								     <li>show popularity score</li>
									 <li> The same subject cannot be created twice.</li>
									 <li>Popular articles are shown in a prominent place under each subject.
									 </li>
									<li>The full email addresses of authors are not displayed in the service's web pages. 
									</li>
									<li>Popularity metrics</li>
									<li>Hide an article</li>
									<li>Remove an article</li>
								   <li>Remove a comment</li>
								    <li>Improve project quality</li>
				
								 
								 
								 </ol>
								 
													
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main end -->

            
            </div>
        </div>
    </section>


    <footer id="footer" class="light">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-content">
                            <div class="region region-footer-first">

                                <div id="block-block-3" class="block block-block clearfix">
                                    <div class="content">
                                        <p class="text-center">Copyright 2018 © YJ&HAB</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->

    </footer>

</div>
<!-- page-wrapper end -->

</body>
</html>
